/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  background-image: url('/img/ss2d.svg'); /* Relative to the `static` folder */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  color: white;
}